In [43]:
import pandas as pd
import re
import nltk
from bs4 import BeautifulSoup
from nltk.corpus import stopwords
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer

train = pd.read_csv('./labeledTrainData.tsv', delimiter='\t', header=0, quoting=3)

In [44]:
def raw_review_to_words(text):
    """
    Function to convert a raw review to a list of words,
    handling punctuation, numbers, HTML tags and markup, and
    stop words.
    """
    review_text = BeautifulSoup(text).get_text()
    numbers_replaced = re.sub("[0-9]", "NUM", review_text)
    punctuation_replaced = re.sub("[^a-zA-Z]", " ", numbers_replaced)
    lower_case = punctuation_replaced.lower()
    words = lower_case.split()
    stop_words = set(stopwords.words("english"))
    meaningful_words = [w for w in words if w not in stop_words]
    return ' '.join(meaningful_words)

def train_model(X, y):
    """
    Train (Random Forest) model
    """
    model = RandomForestClassifier(n_estimators=100)
    model = model.fit(X, y)    
    return model

def generate_submission(filename):
    """
    Generate Kaggle submission file in *.csv format
    """
    train['review_clean'] = train['review'].apply(raw_review_to_words)

    vectorizer = CountVectorizer(max_features=5000)
    train_data_features = vectorizer.fit_transform(train['review_clean'])
    train_data_features = train_data_features.toarray() 
    
    model = train_model(train_data_features, train['sentiment'])
    
    test = pd.read_csv("testData.tsv", header=0, delimiter="\t", quoting=3)
    test['review_clean'] = test['review'].apply(raw_review_to_words)
    
    test_data_features = vectorizer.transform(test['review_clean'])
    test_data_features = test_data_features.toarray()
    
    results = model.predict(test_data_features)
    submission = pd.DataFrame({'id': test['id'], 'sentiment': results})
    submission.to_csv(filename, index=False, quoting=3)
    
    return submission

generate_submission('submission.csv')

C:\Users\Liam\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\Liam\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))
C:\Users\Liam\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\Liam\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

               id  sentiment
0      "12311_10"          1
1        "8348_2"          0
2        "5828_4"          1
3        "7186_2"          1
4       "12128_7"          1
5        "2913_8"          0
6        "4396_1"          0
7         "395_2"          1
8       "10616_1"          0
9        "9074_9"          1
10       "9252_3"          0
11       "9896_9"          1
12        "574_4"          1
13      "11182_8"          1
14      "11656_4"          0
15       "2322_4"          1
16       "8703_1"          1
17       "7483_1"          0
18      "6007_10"          1
19      "12424_4"          0
20       "4672_1"          0
21      "10841_3"          0
22       "8954_7"          1
23       "7392_1"          0
24      "10288_8"          1
25       "5343_4"          0
26       "4950_1"          0
27       "9257_4"          0
28       "8689_3"          0
29       "4480_2"          0
...           ...        ...
24970   "6857_10"          1
24971   "11091_8"          1
24972    "4167_2"          1
24973     "679_4"          0
24974   "10147_1"          0
24975    "6875_1"          0
24976    "923_10"          1
24977    "6200_8"          0
24978    "7208_8"          1
24979    "5363_8"          1
24980    "4067_8"          0
24981    "1773_7"          1
24982   "1498_10"          1
24983  "10497_10"          0
24984   "3444_10"          1
24985     "588_2"          0
24986    "9678_9"          1
24987    "1983_9"          0
24988    "5012_3"          0
24989   "12240_2"          1
24990    "5071_2"          0
24991    "5078_2"          0
24992   "10069_3"          0
24993    "7407_8"          1
24994    "7207_1"          0
24995   "2155_10"          1
24996     "59_10"          1
24997    "2531_1"          0
24998    "7772_8"          1
24999  "11465_10"          0

[25000 rows x 2 columns]